<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200024650804-uuugc0fn9khhbvssmar9ma123iie9gau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200024650804-uuugc0fn9khhbvssmar9ma123iie9gau</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5O-5EjCuZvV2r19PucLfn-QV4S0i0sM</string>
	<key>GCM_SENDER_ID</key>
	<string>200024650804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>neologismquiz</string>
	<key>STORAGE_BUCKET</key>
	<string>neologismquiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200024650804:ios:e48f945d32f1d26b620661</string>
</dict>
</plist>

