<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23963364658-sa1ttchhlqr2am7fikse02lrmkkfbhsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23963364658-sa1ttchhlqr2am7fikse02lrmkkfbhsq</string>
	<key>API_KEY</key>
	<string>AIzaSyDiYljnsUcCsDRavGfIY3HwDEsFf2h8cnY</string>
	<key>GCM_SENDER_ID</key>
	<string>23963364658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neologism</string>
	<key>PROJECT_ID</key>
	<string>neologism-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>neologism-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23963364658:ios:11b31c752fc5427830fb2b</string>
</dict>
</plist>